/*C.1-8*/
.inspirational-verse{
 "background-color: #DC3F45;
 padding-top: 2rem;
 padding-bottom: 2rem;
 margin-top: 5rem;
 margine-left: 2rem;
 margin-right: 2rem;
 text-align: center;
 border-radius: 10px;"
}