/*C.1-8*/
.inspirational-verse {
  background-color: #DC3F45; 
  padding-top: 2rem; 
  padding-bottom: 2rem; 
  margin-top: 5rem; 
  margin-left: 2rem; 
  margin-right: 2rem; 
  text-align: center; 
  border-radius: 10px;
}
.about-bubble {
  background-color: #FFAAA6; 
  height: 400px;
  padding: 25px;
  text-align: center;
}
<!DOCTYPE html>
<html>
<head>
<style>
h2 {
  font-size: 300%;
}
</style>
</head>